@import "../../app.scss";

.sidebar {
  .sidebar-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    color: black;
    z-index: 1000;
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 200px;
    }
  }
  .toggle-btn {
    background-color: transparent;
    border: none;
    z-index: 1001;
    font-size: 50px;
    position: fixed;
    top: 15px;
    left: 40px;
    cursor: pointer;
  }
  .sidebar-navmenus {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    font-size: 40px;
    @include mobile {
      font-size: 28px;
    }
  }
}

.sidebar.sidebar-outter {
  @media screen and (max-width: 1420px) {
    display: none;
  }
}
.sidebar.sidebar-inner {
  @media screen and (min-width: 1420px) {
    display: none;
  }
}
